*{
	padding: 0px;
}
body {
	width: 100%;
}
#navbar {
	padding: 10px;
	background-color: rgba(100, 150, 200, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
#navbar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
	flex-wrap: wrap;
}
#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: black;
	transition: 0.4s ease;
}
#navbar li a:hover{
	color: red;
}
#corpo {
	margin: 20px;
	display: flex;
	justify-content: space-between;
}
#corpo .conteudo {
	position: relative;
	align-content: center;
}
#corpo .lista li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}
#corpo .lista li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	cursor: pointer;
	transition: 0.3s ease;
}
#corpo .lista li a:hover{
	color: red;
}
#biografia {
	margin: 5px 5%;
}